{% extends 'DashboardBundle:Layout:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@file_uploader'
    'bundles/localization/js/localization_form.js'
    'bundles/restaurants/js/fileuploader.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@fileupload_css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% embed "RestaurantsBundle::main.html.twig" %}
        {% block main %}
            <div class="row">
                {% form_theme form 'HospitalsBundle::fields.html.twig' %}
                <div class="col-md-12">
                    {{ show_locale_tabs() }}
                    <br/>
                    <form method="post" {{ form_enctype(form) }} class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_errors(form) }}
                                {{ form_row(form.title,{
                                'label': 'Title'|trans({},'labels'),
                                }) }}
                                {{ form_row(form.address,{
                                'label': 'Address'|trans({},'labels'),
                                }) }}
                                <div class="form-group clearfix">
                                    <label class="required col-sm-2 control-label">{{ 'Busy hours'|trans({}, 'labels') }}
                                        :</label>

                                    <div class="col-md-2 col-sm-2">
                                        {{ form_widget(form.busy_hours_start) }}
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        {{ form_widget(form.busy_hours_end) }}
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="required col-sm-2 control-label">{{ 'Days off'|trans({}, 'labels') }}
                                        :</label>

                                    <div class="col-md-10 col-sm-10">
                                        {{ form_widget(form.days_off) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well well-sm text-right">
                                    <input type="submit" class="btn btn-primary btn-sm" data-loading-text="Saving..."
                                           value="{{ 'Save'|trans({}, 'systems') }}"/>
                                    <a href="javascript:history.go(-1)"
                                       class="btn btn-default btn-sm">{{ 'Cancel'|trans({}, 'systems') }}</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}