{% if hospitals|length %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>{{ 'Title'|trans({}, 'labels') }}</th>
                <th>{{ 'Status'|trans({}, 'labels') }}</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
            {% for hospital in hospitals %}
    <tr>
        <td>{{ hospital.id }}</td>
        <td>
            <a href="{{ url('users_hospitals_edit', {id: hospital.id}) }}">
                {{ hospital.title|locale }}
            </a>
        </td>
        <td>{{ hospital.isPublished }}</td>
        <td><a href='{{ url('users_hospitals_edit', {id: hospital.id}) }}'><span
                        class="glyphicon lead text-primary glyphicon-pencil"></span></a></td>
        <td><a href='{{ url('cms_hotels_delete', {id: hospital.id}) }}'><span
                        class="glyphicon lead text-danger glyphicon-remove-circle"></span></a></td>
    </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p class="bg-danger">
    <h2>{{ 'Restaurants not found'|trans({}, 'hotels') }}</h2>
    </p>
{% endif %}